---
import SkillCategory from "../components/SkillCategory.astro";
import Layout from "../layouts/Layout.astro";
import { skills } from "../content/data/db";
---

<Layout>
    <section class="py-10">
        <div class="container mx-auto px-6 flex flex-col md:flex-row items-center">
            <SkillCategory skills={skills} title="Habilidades"/>
        </div>
    </section>
</Layout>
