---
import { Image } from "astro:assets";
import { headerItems } from "../content/data/db";
const currentPath = Astro.url.pathname; //Ruta actual
---

<header class="bg-background-bluedark shadow-md">
  <div class="container mx-auto px-6 py-4 flex justify-between items-center">
    <!-- Título (lado derecho) -->
    <a class="flex items-center" href="/">
      <Image alt={"Icono Daniel"} src={"/images/d-logo.svg"} width={30} height={30} class={"mr-3"}></Image>
      <h1 class="text-2xl font-bold text-primary-white hidden md:block">Daniel Ochoa</h1>
    </a>

    <!-- Opciones del menú (lado izquierdo) -->
    <nav class="flex space-x-6 text-primary-white">
      {
        headerItems.map((item) => (
          <a
            href={item.href}
            class={`hover:border-b-1 hover:border-secondary-yellow transition-colors 
        ${currentPath === item.href ? "border-b-1 border-secondary-yellow" : ""}`}
          >
            {item.text}
          </a>
        ))
      }
    </nav>
  </div>
</header>
